<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile | iProtesto</title>
    <!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>
    <script>
        $( document ).ready(function() {
            console.log('teste');
            
            $.ajax({
                url: '/states',
                method: "get",
                success: function(data) {
                    $('#protest-state').html(data);
                }
            });
        });

    </script>
</head>
<body>
    <header>
        <h1>iProtesto</h1>
        <nav>
            <a href="/home">Home</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        <h2>Your Protest Here</h2>
        <p>Hi <%= user.email %></p>
        <div>
            <form action="/save" method="post">
                <textarea name="protest" id="protest-text" cols="30" rows="10" required></textarea>
                <select name="states" id="protest-state" required>

                </select>
                <button type="submit">Protest</button>
            </form>
        </div>
    </main>
    
</body>
</html>